@import url("react-big-calendar/lib/css/react-big-calendar.css");

body {
    font-family: 'Montserrat', sans-serif;
}

.rbc-label, .rbc-button-link {
    color: #B1B1B1;
}

.rbc-day-slot .rbc-time-slot {
    border: none;
}

.rbc-time-content > * + * > * {
    border-left: none;
    border-color: #DCDCDC;
}

.rbc-time-slot {
    display: flex;
    align-items: center;
    text-align: center;
    flex: unset;
    /* TODO: highlight selected with this: text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}



.rbc-day-bg + .rbc-day-bg, .rbc-header, .rbc-time-header-content, .rbc-time-view, .rbc-header + .rbc-header {
    border: none;
}

.rbc-button-link {
    font-family: 'Montserrat';
}

.rbc-allday-cell {
    display: none;
}

.rbc-header {
    padding: 20px 0;
    box-sizing:content-box;
}
.rbc-time-gutter > .rbc-timeslot-group {
    border: none;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.rbc-time-column .rbc-timeslot-group {
    flex: unset !important;
}

.rbc-event {
    background: #E9EFFF;
    border: none !important;
    border-radius: 6px;
    border-left: 7px solid #5272E9 !important;
    color: #5272E9;
    height: unset !important;
    padding: 10px 5px 10px 5px;
}

.rbc-time-content {
    border-width: 1px;
}

.rbc-selected {
    background: #B5C7FF !important;
}

.rbc-time-column .rbc-timeslot-group {
    height: 100px;
}

.rbc-events-container {
    margin: 1px 2px !important;
}

.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #333;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 9999;
    text-decoration: none;
  }
  
  .floating-button:hover {
    background-color: #555;
    transform: scale(1.1);
  }
  
  .back-arrow {
    position: relative;
    top: -3px;
    color: #fff;
    font-size: 32px;
    transition: transform 0.3s ease;
  }
  
  .floating-button:hover .back-arrow {
    top:3px;
    transform: rotate(-180deg) scale(1.2);
  }